<p-dialog
    header="New game" 
    [modal]="true" 
    [(visible)]="visible"
    [draggable]="false"
    [resizable]="false"
    (onHide)="close()"
    >

    <div class="flex flex-column gap-4">
        <!-- Difficulty -->
        <div class="flex flex-column gap-2">
            <label for="difficulties" class="font-semibold">Difficulty</label>
            <p-select
                [options]="difficulties"
                [(ngModel)]="selectedDifficulty"
                (ngModelChange)="onValueChange($event)"
                optionLabel="name"
                placeholder="Select difficulty"
                class="w-full" />
        </div>

        <!-- Columns -->
        <div class="flex align-items-center gap-3">
            <label for="cols" class="font-semibold w-8rem">Columns</label>
            <p-inputnumber [(ngModel)]="colValue" [disabled]="!userInput" mode="decimal" [min]="5" [max]="30" class="flex-1" [ngClass]="{ 'ng-invalid ng-dirty': isColsInvalid }" />
        </div>

        <!-- Rows -->
        <div class="flex align-items-center gap-3">
            <label for="rows" class="font-semibold w-8rem">Rows</label>
            <p-inputnumber [(ngModel)]="rowValue" [disabled]="!userInput" mode="decimal" [min]="5" [max]="30" class="flex-1" [ngClass]="{ 'ng-invalid ng-dirty': isRowsInvalid }" />
        </div>

        <!-- Mines -->
        <div class="flex align-items-center gap-3">
            <label for="mines" class="font-semibold w-8rem">Mines</label>
            <p-inputnumber [(ngModel)]="mineValue" [disabled]="!userInput" mode="decimal" [min]="1" [max]="999" class="flex-1" [ngClass]="{ 'ng-invalid ng-dirty': isMinesInvalid }" />
        </div>

        <!-- Timer -->
        <div class="flex align-items-center gap-3">
            <label for="timer" class="font-semibold w-8rem">Timer</label>
            <p-inputnumber [(ngModel)]="timerValue" [disabled]="!userInput" mode="decimal" [min]="1" [max]="999" class="flex-1" [ngClass]="{ 'ng-invalid ng-dirty': isTimerInvalid }" />
        </div>
   
        <!-- Buttons -->
        <div class="flex justify-content-between gap-2">
            <p-button label="Cancel" severity="secondary" (click)="visible = false" />
            <p-button [disabled]="!canStart" label="Start game" (click)="startGame()" />
        </div>
    </div>
</p-dialog>