<style>

</style>
<div>
  <h3>Debug only!</h3>
  <p>Bomb counter: {{ board.mineCount }}</p>
  <p>Remaining cells: {{ board.remainingCells }}</p>
  <div style="display: inline flex; column-gap: 30px">
    <div *ngFor="let number of numbers">
      <span [ngClass]="'number-' + number">{{ number }}</span>
    </div>
  </div>
  <br />
  <div style="display: inline flex; column-gap: 30px">
    <div *ngFor="let special of specialChars">
      <span style="color: black">{{ special }}</span>
    </div>
  </div>
</div>
Board:
<table>
  <tr *ngFor="let row of board.cells; index as y">
    <td    
      style="font-size: 32px"
      *ngFor="let cell of row; index as x"
      [ngClass]="cell.status !== 'flag' && !cell.mine ? 'number-' + cell.proximityMines : ''"
      [style.background-color]="(cell.status === 'open' || cell.status === 'flag') ? 'lightgray' : 'rgb(192, 192, 192)'"
      (click)="checkCell(cell)"
      (contextmenu)="$event.preventDefault(); flag(cell)"
    >
      <!-- Célula vazia -->
      <div *ngIf="cell.status === 'clear' && !cell.mine && cell.proximityMines > 0">
        {{ cell.proximityMines }}
      </div>

      <!-- Flag -->
      <div style="color: red" *ngIf="cell.status === 'flag'">`</div>

      <!-- Mina -->
      <div *ngIf="cell.mine && cell.status === 'clear'">*</div>
    </td>
  </tr>
</table>

<button (click)="reset()">Restart</button>
