<div *ngIf="isDebug" class="debug">
  <h3>Debug only!</h3>
  <p>Bomb counter: {{ board.mineCount }}</p>
  <p>Remaining cells: {{ board.remainingCells }}</p>
  <div style="display: inline flex; column-gap: 30px">
    <div *ngFor="let number of numbers">
      <span [ngClass]="'number-' + number">{{ number }}</span>
    </div>
  </div>
  <br />
  <div style="display: inline flex; column-gap: 30px">
    <div *ngFor="let special of specialChars">
      <span style="color: black">{{ special }}</span>
    </div>
  </div>
</div>

<!-- <p-button (click)="showDialog()" label="Show" /> -->
<app-game-start [visible]="visible"></app-game-start>

<div class="wrapper">
  <div class="flex align-items-center game-header">
    <div class="flex-1"></div>
    <h1 class="m-0">Minesweeper</h1>
    <div class="flex-1"></div>
  </div>

  <!-- TODO Pass this to a component! Use flex-box space-between! -->
  <div class="flex justify-content-between align-items-center game-controls">

    <!-- Settings -->
    <div class="flex-1 align-items-center justify-content-center">
      <p-button (click)="showDialog()">Settings</p-button>
    </div>

    <!-- Emoji -->
    <div class="flex align-items-center justify-content-center">
      <span 
        style="background-color: yellow;"
        (click)="checkGameState(board.result)"
      >{{ gameStateIcon }}</span>
    </div>

    <!-- Timer -->
    <div class="flex-1 flex align-items-center justify-content-end">
      <p>Timer WIP!</p>
    </div>
  </div>

  <div class="game-board">
    <table [style.--rows]="board.cells.length" [style.--cols]="board.cells[0].length">
      <tr *ngFor="let row of board.cells">
        <td 
          *ngFor="let cell of row"
          [style.background-color]="(cell.status === 'open' || cell.status === 'flag') ? 'lightgray' : 'rgb(192, 192, 192)'"
          (click)="checkCell(cell)"
          (contextmenu)="$event.preventDefault(); flag(cell)"
        >
          <!-- single wrapper for flex centering -->
          <div class="cell-content"
              [ngClass]="cell.status !== 'flag' && !cell.mine ? 'number-' + cell.proximityMines : ''">
            
            <!-- Use inline elements only -->
            <span *ngIf="cell.status === 'clear' && !cell.mine && cell.proximityMines > 0">
              {{ cell.proximityMines }}
            </span>

            <span class="flag" *ngIf="cell.status === 'flag'">`</span>
            <span *ngIf="cell.mine && cell.status === 'clear'">*</span>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>