@font-face {
  font-family: "Microsoft Minesweeper Sans";
  src: url("../assets/fonts/microsoft-minesweeper-sans.otf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.debug,
.wrapper {
  font-family: "Microsoft Minesweeper Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  
  // width: 80%;
  flex-wrap: nowrap;
}