@font-face {
  font-family: "Microsoft Minesweeper Sans";
  src: url("../assets/fonts/microsoft-minesweeper-sans.otf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.game-header,
.game-controls {
  width: 80vmin;
}

.debug,
.wrapper {
  font-family: "Microsoft Minesweeper Sans", sans-serif;

  .number-1 { color: rgb(0, 1, 249); }
  .number-2 { color: rgb(1, 126, 0); }
  .number-3 { color: rgb(253, 0, 1); }
  .number-4 { color: rgb(1, 1, 128); }
  .number-5 { color: rgb(129, 3, 0); }
  .number-6 { color: rgb(2, 127, 128); }
  .number-7 { color: rgb(0, 0, 0); }
  .number-8 { color: rgb(128, 128, 128); }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  
  // width: 80%;
  flex-wrap: nowrap;
}

.game-board {
  table {
    table-layout: fixed;
    width: 80vmin;
    height: 80vmin;
    border-collapse: collapse;
    font-size: calc(80vmin / var(--rows) * 0.6);
  }

  tr {
    height: calc(100% / var(--rows));
  }

  td {
    width: calc(100% / var(--cols));
    padding: 0;
    border: 1px solid gray;
    box-shadow:
      inset 1px 1px 0 #ffffff,
      inset -1px -1px 0 #7a7a7a;
  }

  td span {
    display: inline-block;
    font-size: clamp(14px, 90%, 40px);
    line-height: 1;
  }

  .cell-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .flag {
      text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff,
        -2px 0px 0 #fff,
        2px 0px 0 #fff,
        0px -2px 0 #fff,
        0px 2px 0 #fff;
    }
}