<div *ngIf="isDebug">
  <h3>Debug only!</h3>
  <p>Bomb counter: {{ board.mineCount }}</p>
  <p>Remaining cells: {{ board.remainingCells }}</p>
  <div style="display: inline flex; column-gap: 30px">
    <div *ngFor="let number of numbers">
      <span [ngClass]="'number-' + number">{{ number }}</span>
    </div>
  </div>
  <br />
  <div style="display: inline flex; column-gap: 30px">
    <div *ngFor="let special of specialChars">
      <span style="color: black">{{ special }}</span>
    </div>
  </div>
</div>

<div class="wrapper">
  <app-game-over 
    *ngIf="board.result !== null"
    [result]="board.result === 'win' ? 'You won!' : board.result === 'gameover' ? 'You lost!' : ''"
    (rematch)="reset()">
  </app-game-over>

  <h1>Minesweeper</h1>

  <div>
    <div class="cell-content">
      <span style="background-color: yellow;">{{ gameStateIcon }}</span>
    </div>
  </div>
  <br>

  <table [style.--rows]="board.cells.length" [style.--cols]="board.cells[0].length">
    <tr *ngFor="let row of board.cells">
      <td 
        *ngFor="let cell of row"
        [style.background-color]="(cell.status === 'open' || cell.status === 'flag') ? 'lightgray' : 'rgb(192, 192, 192)'"
        (click)="checkCell(cell)"
        (contextmenu)="$event.preventDefault(); flag(cell)"
      >
        <!-- single wrapper for flex centering -->
        <div class="cell-content"
            [ngClass]="cell.status !== 'flag' && !cell.mine ? 'number-' + cell.proximityMines : ''">
          
          <!-- Use inline elements only -->
          <span *ngIf="cell.status === 'clear' && !cell.mine && cell.proximityMines > 0">
            {{ cell.proximityMines }}
          </span>

          <span class="flag" *ngIf="cell.status === 'flag'">`</span>
          <span *ngIf="cell.mine && cell.status === 'clear'">*</span>

        </div>
      </td>
    </tr>
  </table>
</div>
