/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Microsoft Minesweeper Sans";
  src: url("./assets/fonts/microsoft-minesweeper-sans.otf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Microsoft Minesweeper Sans", sans-serif;
  font-size: 16px;

  /* pixel-perfect rendering for pixel fonts */
  -webkit-font-smoothing: none;
  font-smooth: never;
}

table {
  table-layout: fixed;
  width: 80vmin;
  height: 80vmin;
  border-collapse: collapse;
}

tr {
  height: calc(100% / var(--rows));
}

td {
  width: calc(100% / var(--cols));  /* equal width per column */
  // height: 1px;
  padding: 0;
  border: 1px solid gray;

  box-shadow:
    inset 1px 1px 0 #ffffff,
    inset -1px -1px 0 #7a7a7a;
}

/* Optional: scale font to cell size */
td span {
  display: inline-block;
  font-size: clamp(12px, 2.5vmin, 32px);
  line-height: 1;
}

/* Center content safely */
.cell-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.wrapper {
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  
}

.flag {
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff,
    -2px 0px 0 #fff,
    2px 0px 0 #fff,
    0px -2px 0 #fff,
    0px 2px 0 #fff;
  }

.number-1 { color: rgb(0, 1, 249); }
.number-2 { color: rgb(1, 126, 0); }
.number-3 { color: rgb(253, 0, 1); }
.number-4 { color: rgb(1, 1, 128); }
.number-5 { color: rgb(129, 3, 0); }
.number-6 { color: rgb(2, 127, 128); }
.number-7 { color: rgb(0, 0, 0); }
.number-8 { color: rgb(128, 128, 128); }
